@import "styles/variables";
@import "styles/mixins";

.input {
  width: 100%;
  height: 100%;
  transition-duration: $transitionDuration;
}

.inputCustomization {
  @include colorFontSelectable(false);

  padding: 0.7rem 1rem;
  background-color: transparent;
  border: 0.1rem solid $colorBgPassive;
  border-radius: 0.4rem;

  &:hover,
  &:focus {
    color: $colorLightest;
    border-color: $colorBorderActive;
  }

  &::placeholder {
    color: $colorFontDarker2;
  }
}

.inputCalculator {
  @include fontValue;

  padding: 0;
  background-color: transparent;
  border: none;
}
