@import "styles/variables";
@import "styles/mixins";

.input {
  @include colorFontSelectable(false);

  padding: 0.7rem 1rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0.1rem solid $colorBgPassive;
  border-radius: 0.4rem;
  transition-duration: $transitionDuration;

  &:hover,
  &:focus {
    color: $colorLightest !important;
    border-color: $colorBorderActive;
  }

  &::placeholder {
    color: $colorFontDarker2;
  }
}
