@import "variables";

// font mixins
@mixin h1 {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 4rem;
  color: $colorLightest;

  @media (max-width: $adaptiveMax) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@mixin fontLogo {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: $colorFontDarker2;
  letter-spacing: 0.65rem;
  text-transform: uppercase;
}

@mixin fontMenu($weight: 500, $color: $colorFontDarker2) {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: $weight;
  line-height: 1.6rem;
  color: $color;
}

@mixin fontKey {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.9rem;
  color: $colorFontDarker3;
}

@mixin fontValue {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: $colorLightest;
}

@mixin fontHint($weight: 400, $color: $colorFontDarker3) {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: $weight;
  line-height: 2.4rem;
  color: $color;
}

@mixin fontLabel {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2rem;
  color: $colorLightest;
}

@mixin colorFontSelectable($isActive: false) {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;

  @if $isActive {
    color: $colorLightest;
  } @else {
    color: $colorFontDarker3;
  }
}

@mixin fontButton {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: $colorLightest;
}

@mixin fontResult {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
  color: $colorLightest;
}

@mixin fontNavigation {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: $colorLightest;
  letter-spacing: 0.03rem;

  @media (max-width: $adaptiveMax) {
    font-size: 1.2rem;
    letter-spacing: 0.028rem;
  }
}

@mixin fontWallet {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4rem;
  color: $colorLightest;
}

@mixin fontTag {
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: $colorLightest;
}

// reset mixins

@mixin resetButton {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin resetFieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// style mixins
@mixin link {
  transition-duration: $transitionDuration;

  &:hover,
  &:active {
    color: $colorHighlight;
  }

  &:active {
    opacity: 0.5;
  }
}
