@import "styles/variables";
@import "styles/mixins";

.list {
  @include resetList;

  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.item {
  &:not(:first-child) {
    margin-left: 2rem;
  }
}

.link {
  font-size: 0;

  &:hover {
    .icon {
      fill: $colorHighlight;
    }
  }
}

.icon {
  width: 4rem;
  fill: $colorFontDarker2;
  transition-duration: $transitionDuration;
}

@media (max-width: $adaptiveMax) {
  .list {
    justify-content: center;
    padding: 4rem 0 2.7rem 0;
  }
}
