@import "styles/variables";
@import "styles/mixins";

.buttonCollapse {
  @include resetButton;
  @include fontKey;

  margin-top: 2.5rem;
  border-bottom: 0.1rem dashed $colorBorderDark;
  transition-duration: $transitionDuration;

  &:hover {
    color: $colorLightest;
    border-bottom-color: transparent;
  }
}

.collapseContent {
  padding-top: 1.7rem;
}
