@import "styles/variables";
@import "styles/mixins";

.wrapper {
  padding-bottom: 6rem;

  .button {
    margin-top: 3rem;
  }
}

.preloader {
  height: 10rem;
}

.currencies {
  position: relative;
}

.settings {
  &:not(:first-child) {
    margin-top: 2rem;
  }

  &:last-child {
    position: relative;
    padding-bottom: 3rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(-1 * var(--padding-h-inner));
      width: 150vw;
      height: 0.1rem;
      background-color: $colorBorderMain;
    }
  }
}

@media (max-width: $adaptiveMax) {
  .wrapper {
    padding-bottom: 5rem;
  }
}
